
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container h3 a {
    color: white;
    font-size: 34px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.container h3 a:hover {
    color: #c7b299;
}
.logo-cont {
    display: flex;
    align-items: center;
}

