#portfolio {
    text-align: center;
}

article h2:not(.deskr-work) {
    color: #555555;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
}
article p:not(.deskr-work) {
    color: #8c8c8c;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.controls-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0px 0px;
}
.controls-button button:not(.active) {
    background: transparent;
}
.controls-button button {
    padding: 6px 24px;
    border: 1px solid #ebebeb;
    color: #8c8c8c;
    font-size: 14px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    line-height: 21px;
    margin: 0px 5px 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

.controls-button button:hover {
    border-color: #85462a;
}

button.active {
    background: #998675;
    color: #ffffff;
    border: none;
}

.block-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.work {
    width: 344px;
    margin: 20px;
    background: #fbfaf8;
    transition: all 0.35s ease-out;
}

.work-img {
    width: 100%;
    position: relative;
}

.work-img img {
    width: 100%;
    height: 100%;
}

.deskr-work h2 {
    font-size: 20px;
    color: #c7b299;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
}
.deskr-work p {
    font-size: 14px;
    color: #d1d1d1;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: bold;
}
.deskr-work {
    text-align: left;
    padding: 10px 30px;
    box-sizing: border-box;
    position: relative;
}

.work-link {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 98.3%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.57);
    visibility: hidden;
}

.work-link a {
    color: white;
    margin: 10px;
}

.work:hover {
    background: #362f2d;
}
.work:hover .work-link {
    visibility: visible;
}


.work-link i {
    color: #ffffff;
    font-size: 30px;
}
.work-link:hover a {
    color: #c7b299;
}

div.work:hover .deskr-work h2 {
    color: #ffffff
}

div.work:hover .deskr-work p {
    color: #c7b299;
}

.deskr-work::before {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-bottom-color: #fbfaf8;
    position: absolute;
    left: 10px;
    top: -40px;
    transition: all 0.35s ease-out;
}


.work:hover .deskr-work::before {
    border-bottom-color: #372F2D;
}

.content .btn-grid {
    padding: 20px 40px;
    background: #998675;
    border-radius: 6px;
    color: #ffffff;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
    border: none;
    font-weight: bold;
    margin: 0px 0px 80px;
}

.btn-grid:hover {
    background: #665546;
    cursor: pointer;
}

@media screen and (max-width:320px) {
    .work-link {
        height: 97.7%;
    }
}

@media screen and (max-width:320px) {
    .controls-button {
        flex-direction: column;
        align-items: center;
    }
}